openapi: 3.1.0
info:
  title: Maxar Geospatial Platform (Vantor Hub) API
  version: "1"
  description: |
    REST API surface for the Maxar Geospatial Platform, branded in 2026 as
    Vantor Hub. This specification covers the Authentication / Token Service
    used to obtain OAuth2 bearer tokens and API keys, the Discovery API for
    STAC-style search of the Maxar catalog, and the Ordering API for
    estimating, validating, placing, and tracking orders for imagery and
    derived products. Bearer tokens are required for Admin and API Key
    operations; data-related endpoints accept either an OAuth2 bearer token
    or an API key.
  contact:
    name: Vantor Hub Developer Portal
    url: https://developers.maxar.com/
servers:
  - url: https://api.maxar.com
    description: Maxar / Vantor Hub production API
security:
  - bearerAuth: []
  - apiKeyAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth2 bearer token obtained from the Authentication Token Service.
    apiKeyAuth:
      type: apiKey
      in: header
      name: MAXAR-API-KEY
      description: |
        API key for data-related APIs. Cannot be used for Admin or API Key
        management endpoints, which require an OAuth2 bearer token.
  schemas:
    Token:
      type: object
      properties:
        access_token: { type: string }
        token_type: { type: string }
        expires_in: { type: integer }
        refresh_token: { type: string }
    ApiKey:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        prefix: { type: string }
        created_at: { type: string, format: date-time }
    SearchRequest:
      type: object
      properties:
        collections:
          type: array
          items: { type: string }
        bbox:
          type: array
          items: { type: number }
        datetime: { type: string }
        intersects: { type: object }
        limit: { type: integer }
        query: { type: object }
    StacItem:
      type: object
      properties:
        type: { type: string, enum: [Feature] }
        id: { type: string }
        collection: { type: string }
        geometry: { type: object }
        bbox:
          type: array
          items: { type: number }
        properties: { type: object }
        assets: { type: object }
        links:
          type: array
          items: { type: object }
    StacItemCollection:
      type: object
      properties:
        type: { type: string, enum: [FeatureCollection] }
        features:
          type: array
          items: { $ref: "#/components/schemas/StacItem" }
        links:
          type: array
          items: { type: object }
    Order:
      type: object
      properties:
        order_id: { type: string }
        pipeline_id: { type: string }
        status: { type: string }
        created_at: { type: string, format: date-time }
        delivery: { type: object }
        items:
          type: array
          items: { type: object }
    OrderRequest:
      type: object
      properties:
        pipeline_id: { type: string }
        item_ids:
          type: array
          items: { type: string }
        delivery: { type: object }
        notification: { type: object }
    Pipeline:
      type: object
      properties:
        pipeline_id: { type: string }
        name: { type: string }
        description: { type: string }
paths:
  /authentication/api/get-an-o-auth-2-bearer-token:
    post:
      tags: [Authentication]
      summary: Obtain an OAuth2 bearer token
      description: Exchange username and password (password flow) for a bearer token.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum: [password]
                username: { type: string }
                password: { type: string }
                client_id: { type: string }
                client_secret: { type: string }
      responses:
        "200":
          description: Token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Token" }
  /authentication/api/create-a-new-api-key:
    post:
      tags: [Authentication]
      summary: Create a new API key
      description: Requires an OAuth2 bearer token.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        "201":
          description: API key created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKey" }
  /discovery/stac/search:
    get:
      tags: [Discovery]
      summary: Search STAC items
      description: Retrieve items matching filters.
      parameters:
        - in: query
          name: collections
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
        - in: query
          name: bbox
          schema:
            type: array
            items: { type: number }
          style: form
          explode: false
        - in: query
          name: datetime
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer }
      responses:
        "200":
          description: STAC FeatureCollection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StacItemCollection" }
    post:
      tags: [Discovery]
      summary: Search STAC items (POST body)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SearchRequest" }
      responses:
        "200":
          description: STAC FeatureCollection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StacItemCollection" }
  /discovery/stac/collections:
    get:
      tags: [Discovery]
      summary: List STAC collections
      responses:
        "200":
          description: Collections
  /discovery/stac/items:
    get:
      tags: [Discovery]
      summary: Get STAC items
      responses:
        "200":
          description: Items
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StacItemCollection" }
  /discovery/stac/queryables:
    get:
      tags: [Discovery]
      summary: List discoverable / filterable queryables
      responses:
        "200":
          description: Queryables JSON Schema
          content:
            application/json:
              schema: { type: object }
  /discovery/stac/image-grid:
    get:
      tags: [Discovery]
      summary: Search with filtering and return tiles
      responses:
        "200":
          description: Image grid
    post:
      tags: [Discovery]
      summary: Search with filtering and return tiles (POST body)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SearchRequest" }
      responses:
        "200":
          description: Image grid
  /ordering/list-pipelines:
    get:
      tags: [Ordering]
      summary: List or get content pipelines
      parameters:
        - in: query
          name: pipeline_id
          schema: { type: string }
      responses:
        "200":
          description: Pipelines
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Pipeline" }
  /ordering/estimate-usage:
    post:
      tags: [Ordering]
      summary: Estimate usage for an order
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrderRequest" }
      responses:
        "200":
          description: Usage estimate
  /ordering/validate-order:
    post:
      tags: [Ordering]
      summary: Validate an order before placing it
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrderRequest" }
      responses:
        "200":
          description: Validation result
  /ordering/place-order:
    post:
      tags: [Ordering]
      summary: Place an order
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/OrderRequest" }
      responses:
        "201":
          description: Order placed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
  /ordering/order-details:
    get:
      tags: [Ordering]
      summary: Get details and status for an order
      parameters:
        - in: query
          name: order_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Order" }
  /ordering/order-events:
    get:
      tags: [Ordering]
      summary: List status events for an order
      parameters:
        - in: query
          name: order_id
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Events
    post:
      tags: [Ordering]
      summary: Cancel an order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id: { type: string }
                action:
                  type: string
                  enum: [cancel]
      responses:
        "200":
          description: Cancellation accepted
